
@{
    ViewBag.Title = "HW1";
}
<br />
<div>
    姓名:<input type="text" />
</div>
<br />
<div>
    帳號:<input type="text" />
</div>
<br />
<div>
    密碼:<input type="password" />
</div>
<br />
<div>
    性別:
    <input type="radio" />男性
    <input type="radio" />女性
</div>
<br />
<div>
    興趣:
    <input type="checkbox" />游泳
    <input type="checkbox" />閱讀
    <input type="checkbox" />看電影
</div>
<br />
<div>
    自我介紹:
    <textarea >呱呱呱</textarea>
</div>