
@{
    ViewBag.Title = "Index";
}
<h2>Osas</h2>
<h1>呱呱呱</h1>

<script>
    var dalabonba = "12345";
    var budonga = "678910";
    document.write("dalabonba" + parseInt(dalabonba) + budonga + " 呱呱呱呱</br>");
    for (let i = 0; i < 5; i++) {
        for (let j = 0; j <= i; j++) {
            document.write("*");
        }
        document.write("</br>");
    }
</script>
<table>
    <tr>
        <td>555</td>
        <td>666</td>
    </tr>
    <tr>
        <td>777</td>
        <td>888</td>
    </tr>
</table>